myenv # Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/
env/
venv/
myenv

# Jupyter
.ipynb_checkpoints/

# VS Code / PyCharm
.vscode/
.idea/

# Others
.DS_Store
*.log
